.usersPhoto {
    width: 100px;
    height: 100px;
}

.wrapper {
    margin-top: 10px;
    display: flex;
    padding: 5px;
}

.items {
    padding: 10px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;

}

.item {
    align-items: center;
}

span {
    padding: 5px;
}

.selectedPage {
    font-weight: bold;
    cursor: pointer;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 50%;
    padding: 3px 9px;
    margin: 4px;

}

.pageItem {
    /*display: inline-block;*/
    margin: 4px;
    cursor: pointer;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 50%;
    color: #6c757d;
    padding: 3px 9px;
    text-decoration: none;
}

.pageItem:hover {
    color: blue;
    background-color: #e9ecef;
}

.pagination {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;

}